@media screen and (max-width: 768px) {
  #headline h1 {
    font-size: 35vw;
  }
  .section-1 .green-panels > * {
    width: 28%;
  }
  .green-panels {
    gap: 23%;
  }

  #tools {
    width: 100%;
    justify-content: center;
    gap: 10%;
    margin-top: -50%;
  }
  #big-beetle {
    width: 123%;
  }

  #tools img:nth-of-type(1) {
    width: 42%;
    padding-top: 10%;
  }
  #tools img:nth-of-type(2) {
    width: 30%;
    margin-left: -4%;
  }
}

@media screen and (max-width: 414px) {
  #headline h1 {
    font-size: 35vw;
  }
  .section-1 .green-panels > * {
    width: 40%;
  }
  .green-panels {
    gap: 11%;
  }

  #tools {
    width: 100%;
    justify-content: center;
    gap: 0%;
    margin-top: -50%;
  }
  #big-beetle {
    width: 140%;
    margin-top: -25%;
    /* margin-bottom: -53%; */
  }

  #tools img:nth-of-type(1) {
    width: 49%;
    padding-top: 10%;
  }
  #tools img:nth-of-type(2) {
    width: 38%;
    margin-left: -4%;
  }

  .running-line {
    margin-bottom: 0%;
  }

  /* 2 раздел */
  .flags-countdown-container {
    margin-left: 40%;
  }
  .countdown::after {
    font-size: 12vw;
  }

  .fence {
    /* transform: rotateY(180deg); */
    padding-top: 5%;
    padding-left: 0%;
    margin-left: -5%;
  }

  .start-cone-flex {
    flex-direction: column;
  }

  .section-2 {
    width: 90vw;
  }

  .section-3 {
    width: 97vw;
    margin-left: 3vw;
    margin-top: -10%;
  }

  .start-finish {
    font-size: 11vw;
  }

  .section-3 h2 {
    font-size: 20vw;
  }

  #section-4 {
    width: 80vw;
    margin-left: 20vw;
    margin-top: -30%;
  }

  .three-flags {
    width: 35%;
  }

  .three-flags-1 {
    top: 20%;
  }

  .three-flags-2 {
    top: 80%;
    margin-left: -5%;
  }

  .comments {
    font-size: 3vw;
  }

  #section-5-wrap {
    width: 100vw;
    margin-top: -42%;
    overflow-x: hidden;
    z-index: 6;
  }

  #section-5 {
    width: 180vw;
    height: 162vw;
    margin-top: 0;
    margin-left: -55%;
  }

  #section-5-text-container {
    justify-content: center;
  }

  #section-5-text-container h2 {
    padding-top: 2%;
    padding-left: 15%;
  }

  /* убрать комментарий Жуки уже на финишной прямой и флаги*/
  #two-flags,
  #section-5-text-container p {
    display: none;
  }

  #section-6 {
    width: 100vw;
    overflow: hidden;
    margin-top: -70%;
  }

  #numbers-trophy-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #numbers-trophy-container > :first-child {
    padding-left: 4%;
  }
  #trophy {
    transform: rotateY(180deg);
    margin-left: 10%;
    margin-top: -21%;
  }
  #trophy p {
    font-size: 2.1vw;
    transform: skewY(30deg) scaleX(0.86) rotateY(180deg);
  }

  #fences {
    margin-left: -20%;
  }

  #section-6 > :first-child {
    width: 160vw;
  }

  #section-6 > :first-child > img {
    margin-left: -30%;
    /* transform: scale(1.5); */
  }
}
