* {
  cursor: url(../images/cursor.svg) 2 2, auto;
}

/* цвета */
:root {
  --text-color: #ff7fd1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: rgb(255, 255, 255);
  font-family: "Bounded";

  width: 100vw;
  height: 3300px;

  /* скрыть скролбар */
  overflow-x: hidden;
}

/* Фоновое изображение */
body::before {
  content: "";
  background-image: url(../images/maket1.png);
  width: 100vw;
  height: 3300px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  opacity: 0.2;
  z-index: -100;
}
