* {
  cursor: url(../images/cursor.svg) 2 2, auto;
}

/* цвета */
:root {
  --text-color: #ff7fd1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  background-color: #ffffff;
  font-family: "Bounded";

  width: 100vw;
  /* height: 3300px; */

  /* скрыть скролбар */

  /* ОТКРЫТЬ */
  overflow-x: hidden;
}
