* {
  cursor: url(../images/cursor.svg) 2 2, auto;
}

/* цвета */
:root {
  --text-color: #ff7fd1;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  font-family: "Bounded";
  width: 100vw;
  overflow-x: hidden;
}
