#section-6 {
  width: 90vw;
  position: relative;
  margin-top: -35%;
  margin-bottom: 5%;
}

#section-6 > :first-child {
  display: grid;
  align-items: start;
  justify-items: center;
}

#section-6 > :first-child > * {
  grid-area: 1 / 1;
}

#numbers-trophy-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* цифры */
#numbers-trophy-container > :first-child {
  width: 54%;
  padding-top: 10%;
}

/* кубок */
#trophy {
  width: 40%;
  margin-left: -10%;
  flex-shrink: 0;
  position: relative;
}

#trophy img {
  width: 100%;
}

#trophy p {
  font-size: 1.2vw;
  color: #babcbe;
  font-weight: 600;
  text-align: center;
  line-height: 1.3;
  position: absolute;
  transform: skewY(30deg) scaleX(0.86);
  bottom: 14%;
  left: 3%;
}

#star-4 {
  background-image: url(../images/star.svg);
  width: 15%;
  aspect-ratio: 1 / 1;
  background-size: auto 100%;
  position: absolute;
  top: 27%;
  left: 60%;

  animation: star-animation 2.5s ease-in-out infinite;
}

#star-5 {
  background-image: url(../images/star.svg);
  width: 7%;
  aspect-ratio: 1 / 1;
  background-size: auto 100%;
  position: absolute;
  top: 3%;
  left: 40%;

  animation: star-animation 2.5s ease-in-out infinite;
}

#fences {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 27%;
  z-index: -1;
  padding-top: 15%;
}

#fences img {
  width: 33%;
}
#fences img:nth-of-type(1) {
  width: 33%;
  padding-top: 7%;
}

#fences img:nth-of-type(2) {
  transform: rotateY(180deg);
}

/* плитка */
#section-6 > :first-child > img {
  width: 83%;
  padding-top: 36%;

  z-index: -2;
}

/* бегущая строка с именем */
.running-line-2 {
  display: flex;
  padding-bottom: 5%;
}

.left-2,
.right-2 {
  width: 50vw;
  font-size: 9vw;
  font-weight: 800;
  overflow: hidden;
  color: var(--text-color);
  white-space: nowrap;
}

.left-2 {
  transform-origin: right;
  transform: skewY(30deg);
}

.right-2 {
  transform-origin: left;
  transform: skewY(-30deg);
}

.left-2 span {
  position: relative;
  animation: running-line-left-2 12s linear infinite;
}

.right-2 span {
  position: relative;
  animation: running-line-right-2 12s linear infinite;
}

@keyframes running-line-left-2 {
  0% {
    margin-left: 200%;
  }

  100% {
    margin-left: -800%;
  }
}

@keyframes running-line-right-2 {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -900%;
  }
}
