#section-4 {
  width: 50vw;
  align-self: flex-start;

  margin-top: -55%;
  margin-left: 10%;
}

#tube-1-container {
  display: grid;
}

/* положение трубы */
#tube-1-container img {
  grid-area: 1 / 1;
  width: 150%;
  margin-left: -80%;
}

/* базовые настройки для 3 флагов */
.three-flags {
  display: flex;
  justify-content: end;
  gap: 4%;
}

.three-flags div:nth-of-type(2) {
  margin-top: 6%;
}

.three-flags div:nth-of-type(3) {
  margin-top: 12%;
}
/*  */

.three-flags-1 {
  width: 100%;
  /* background-color: rgba(168, 29, 29, 0.3); */
  grid-area: 1 / 1;
  height: fit-content;

  padding-top: 57%;
  margin-left: -7%;
}

.three-flags-2 > div {
  transform: rotateY(180deg);
}

.three-flags-2 {
  width: 100%;
  /* background-color: rgba(168, 29, 29, 0.3); */
  grid-area: 1 / 1;
  height: fit-content;

  padding-top: 130%;
  margin-left: -13%;
}

/* секция 4 */
/* ФИНИШ */
.section-5 {
  width: 100vw;
}

.section-5 img {
  width: 133%;
}
