#section-4 {
  width: 50vw;
  align-self: flex-start;
  position: relative;

  margin-top: -48%;
  margin-left: 10%;
}

#tube-1-container {
  display: grid;
}

/* положение трубы */
#tube-1-container img {
  grid-area: 1 / 1;
  width: 150%;
  margin-left: -80%;
}

#tube-1-container img:nth-of-type(2) {
  z-index: 5;
}

/* базовые настройки для 3 флагов */
.three-flags {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  gap: 4%;
}

.three-flags div:nth-of-type(2) {
  margin-top: 6%;

  animation: flag-wave 1800ms 600ms linear infinite;
}

.three-flags div:nth-of-type(3) {
  margin-top: 12%;

  animation: flag-wave 1800ms 1200ms linear infinite;
}

.three-flags-1 {
  width: 100%;
  /* background-color: rgba(168, 29, 29, 0.3); */
  grid-area: 1 / 1;
  height: fit-content;

  padding-top: 57%;
  margin-left: -7%;
}

.three-flags-2 {
  transform: rotateY(180deg);
}

.three-flags-2 {
  width: 100%;
  /* background-color: rgba(168, 29, 29, 0.3); */
  grid-area: 1 / 1;
  height: fit-content;

  padding-top: 130%;
  margin-left: -13%;
}

#section-4 .comments {
  position: absolute;
  left: -14%;
  top: 66%;

  z-index: 4;
}

.blue-beetle-section-4 {
  /* убрать */
  z-index: 4;
  position: absolute;
  top: 40%;
  left: 0%;

  animation: movement-bb-4 5s linear infinite, run 0.2s steps(2) infinite;
}

.green-beetle-section-4 {
  /* убрать */
  z-index: 4;
  position: absolute;
  top: 44%;
  left: -4%;

  animation: movement-gb-4 5s linear infinite, run 0.2s steps(2) infinite;
}

.pink-beetle-section-4 {
  /* убрать */
  z-index: 4;
  top: 47%;
  left: -4%;
  position: absolute;

  /* transform: translate(250%, 420%) rotateY(180deg); */

  animation: movement-pb-4 5s linear infinite, run 0.2s steps(2) infinite;
}

/* анимация перемещения СИНИЙ 4*/
@keyframes movement-bb-4 {
  0% {
    transform: translate(0, 0) rotateY(0deg);
  }
  59.9% {
    transform: translate(600%, 360%) rotateY(0deg);
  }

  60% {
    transform: translate(600%, 360%) rotateY(180deg);
  }

  79.9% {
    transform: translate(330%, 520%) rotateY(180deg);
  }

  80% {
    transform: translate(330%, 520%) rotateY(180deg) rotateZ(15deg);
  }

  100% {
    transform: translate(160%, 730%) rotateY(180deg) rotateZ(15deg);
  }
}

/* анимация перемещения ЗЕЛЁНЫЙ 4*/
@keyframes movement-gb-4 {
  0% {
    transform: translate(0, 0) rotateY(0deg);
  }
  59.9% {
    transform: translate(340%, 320%) rotateY(0deg);
  }

  60% {
    transform: translate(310%, 340%) rotateY(180deg);
  }

  79.9% {
    transform: translate(190%, 450%) rotateY(180deg);
  }

  80% {
    transform: translate(190%, 450%) rotateY(180deg) rotateZ(15deg);
  }

  100% {
    transform: translate(50%, 700%) rotateY(180deg) rotateZ(15deg);
  }
}

/* анимация перемещения РОЗОВЫЙ 4*/
@keyframes movement-pb-4 {
  0% {
    transform: translate(0, 0) rotateY(0deg);
  }
  59.9% {
    transform: translate(410%, 300%) rotateY(0deg);
  }

  60% {
    transform: translate(410%, 300%) rotateY(180deg);
  }

  79.9% {
    transform: translate(250%, 420%) rotateY(180deg);
  }

  80% {
    transform: translate(250%, 420%) rotateY(180deg) rotateZ(15deg);
  }

  100% {
    transform: translate(40%, 700%) rotateY(180deg) rotateZ(15deg);
  }
}
