/* 1 + 2 FLEX */
.start-cone-flex {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: -10%;
}

/* секция 2 */
/* СТАРТ */
.section-2 {
  width: 50vw;
  /* height: fit-content; */
  align-self: flex-start;

  /* background-color: rgba(0, 255, 123, 0.2); */

  position: relative;

  z-index: -1;
}

.section-2 div:nth-of-type(1) {
  height: fit-content;
}

#road-1 {
  position: absolute;
  right: 0;
  z-index: -4;
  width: 133%;
}

#gate-1 {
  width: 25%;
  padding-left: 7%;
  padding-top: 10%;

  /* ворота должны быть впереди всего */
  z-index: 5;
}

.flags-countdown-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 4%;
  margin-top: -50%;
  margin-left: 10%;
}

.flags-countdown-container div:nth-of-type(1) {
  margin-left: 2%;
}

/* второй флаг */
.flags-countdown-container div:nth-of-type(3) {
  margin-left: -3%;
  align-self: flex-end;
}

.flag {
  background-image: url(../images/section-2/flag.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 6%;
  aspect-ratio: 40 / 227;

  transform-origin: bottom;
  animation: flag-wave 1800ms linear infinite;
}

@keyframes flag-wave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.countdown {
  width: 37%;
  position: relative;
  margin-top: 5%;
  margin-bottom: 10%;
}

.countdown img {
  width: 100%;
}

.countdown::after {
  font-size: 7vw;
  color: white;
  font-family: "Bounded";
  font-weight: 900;

  content: "GO";

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-54%, -50%) skewY(30deg) scaleX(0.866);

  animation: countdown-animation 4s linear infinite;
}

@keyframes countdown-animation {
  0% {
    content: "3";
  }
  25% {
    content: "2";
  }
  50% {
    content: "1";
  }
  75% {
    content: "GO";
  }
}

/* стиль надписи СТАРТ и ФИНИШ */
.start-finish {
  font-family: "Bounded";
  font-weight: 900;
  font-size: 6vw;
  color: var(--text-color);
  width: fit-content;
}

.start {
  transform-origin: right;
  transform: rotate(30deg) skewX(-30deg);
  padding-top: 13%;
  padding-left: 7%;
}

.fence {
  /* position: relative; */
  z-index: -5;
  width: 40%;
  padding-left: 65%;
  margin-top: -12%;
}

/* секция 3 */
/* КОНУС */

.section-3 {
  width: 55vw;
  /* background-color: rgb(38, 0, 255, 0.3); */
  position: relative;

  margin-left: -5vw;
}

/* надпись ГОНКА */
.section-3 h2 {
  font-family: "Bounded";
  font-size: 12vw;
  font-weight: 800;
  color: var(--text-color);
  transform: skewY(-30deg) scaleX(0.866);

  padding-top: 8%;
}

/* обе картинки в одной клетке грида */
.road-cone-container img {
  width: 133%;
  grid-area: 1 / 1;
}

.road-cone-container {
  position: relative;
  width: 100%;
  display: grid;
  background-color: yellow;
  /* overflow: hidden; */

  margin-top: -47%;
}

/* стиль надписей-комментариев */
.comments {
  font-family: "Bounded";
  font-size: 1.7vw;
  line-height: normal;
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
  white-space: nowrap;
  transform: rotate(-30deg) skewX(30deg);
}

/* надпись ОБОГНУТЬ ПРЕПЯТСТВИЕ */
.section-3 p {
  position: absolute;
  top: 30%;
  left: 60%;
}

/* ЖУКИ БЕГУТ */
/* базовые настройки для каждого жука */
.blue-beetle {
  background-image: url(../images/section-2/blue-beetle.svg);
  width: 10%;
  aspect-ratio: 258 / 252;
  background-size: auto 100%;
}

.green-beetle {
  background-image: url(../images/section-2/green-beetle.svg);
  width: 15%;
  aspect-ratio: 346 / 214;
  background-size: auto 100%;
}

.pink-beetle {
  background-image: url(../images/section-2/pink-beetle.svg);
  width: 10%;
  aspect-ratio: 257 / 211;
  background-size: auto 100%;
}

/* анимация ЛАПОК */
@keyframes run {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.blue-beetle-section-2 {
  position: absolute;
  /* width: 10%; */
  margin-left: 19%;
  margin-top: 27%;
  z-index: 1;

  animation: movement-bb-2 5s linear infinite, run 0.2s steps(2) infinite;
}

.green-beetle-section-2 {
  position: absolute;
  /* width: 15%; */
  margin-left: 10%;
  margin-top: 31%;
  z-index: 0;

  animation: movement-gb-2 5s linear infinite, run 0.2s steps(2) infinite;
}

.pink-beetle-section-2 {
  position: absolute;
  /* width: 10%; */
  margin-left: 8%;
  margin-top: 35%;
  z-index: 0;

  animation: movement-pb-2 5s linear infinite, run 0.2s steps(2) infinite;
}

/* анимация перемещения СИНИЙ 2*/
@keyframes movement-bb-2 {
  0% {
    transform: translate(0, 0);
  }
  49% {
    transform: translate(720%, 420%) rotateY(0deg);
  }

  50% {
    transform: translate(720%, 420%) rotateY(180deg);
  }

  100% {
    transform: translate(0%, 840%) rotateY(180deg);
  }
}

/* анимация перемещения ЗЕЛЁНЫЙ 2*/
@keyframes movement-gb-2 {
  0% {
    transform: translate(0, 0);
  }
  49% {
    transform: translate(450%, 420%) rotateY(0deg);
  }

  50% {
    transform: translate(450%, 420%) rotateY(180deg);
  }

  100% {
    transform: translate(0%, 840%) rotateY(180deg);
  }
}

/* анимация перемещения РОЗОВЫЙ 2*/
@keyframes movement-pb-2 {
  0% {
    transform: translate(0, 0);
  }
  49% {
    transform: translate(610%, 420%) rotateY(0deg);
  }

  50% {
    transform: translate(610%, 420%) rotateY(180deg);
  }

  100% {
    transform: translate(0%, 840%) rotateY(180deg);
  }
}

/* ЖУКИ СЕКЦИЯ 3 */
.blue-beetle-section-3-forward {
  position: absolute;
  /* width: 10%; */

  top: 1%;
  left: 105%;
  transform: rotateY(180deg);

  z-index: 3;

  animation: movement-bb-3 5s linear infinite, run 0.2s steps(2) infinite,
    make-transparent 5s linear infinite;
}

.blue-beetle-section-3-backward {
  position: absolute;
  /* width: 10%; */

  top: 1%;
  left: 105%;
  transform: rotateY(180deg);

  animation: movement-bb-3 5s linear infinite, back-run 0.2s steps(2) infinite,
    make-visible 5s linear infinite;
}

.green-beetle-section-3-forward {
  position: absolute;
  /* width: 15%; */

  top: -1%;
  left: 100%;
  transform: rotateY(180deg);

  z-index: 2;

  animation: movement-gb-3 5s linear infinite, run 0.2s steps(2) infinite,
    make-transparent 5s linear infinite;
}

.green-beetle-section-3-backward {
  position: absolute;
  /* width: 15%; */

  top: -1%;
  left: 100%;
  transform: rotateY(180deg);
  animation: movement-gb-3 5s linear infinite, back-run 0.2s steps(2) infinite,
    make-visible 5s linear infinite;
}

.pink-beetle-section-3-forward {
  position: absolute;
  /* width: 10%; */

  top: -4%;
  left: 100%;
  transform: rotateY(180deg);

  transform: translate(-570%, 1010%);

  z-index: 1;

  animation: movement-pb-3 5s linear infinite, run 0.2s steps(2) infinite,
    make-transparent 5s linear infinite;
}

.pink-beetle-section-3-backward {
  position: absolute;
  /* width: 10%; */

  top: -4%;
  left: 100%;
  transform: rotateY(180deg);

  animation: movement-pb-3 5s linear infinite, back-run 0.2s steps(2) infinite,
    make-visible 5s linear infinite;
}

/* анимация перемещения СИНИЙ 3*/
@keyframes movement-bb-3 {
  0% {
    transform: translate(0, 0) rotateY(180deg);
  }
  39.9% {
    transform: translate(-850%, 510%) rotateY(180deg);
    z-index: 3;
  }

  40% {
    transform: translate(-850%, 510%) rotateY(0deg);
    z-index: 1;
  }

  60% {
    transform: translate(-600%, 660%) rotateY(0deg);
  }

  100% {
    transform: translate(0%, 310%) rotateY(0deg);
  }
}

/* анимация перемещения ЗЕЛЁНЫЙ 3*/
@keyframes movement-gb-3 {
  0% {
    transform: translate(0, 0) rotateY(180deg);
  }
  39.9% {
    transform: translate(-615%, 580%) rotateY(180deg);
  }

  40% {
    transform: translate(-615%, 580%) rotateY(0deg);
  }

  60% {
    transform: translate(-390%, 800%) rotateY(0deg);
  }

  100% {
    transform: translate(0%, 440%) rotateY(0deg);
  }
}

/* анимация перемещения РОЗОВЫЙ 3*/
@keyframes movement-pb-3 {
  0% {
    transform: translate(0, 0) rotateY(180deg);
  }
  39.9% {
    transform: translate(-1000%, 700%) rotateY(180deg);
    z-index: 1;
  }

  40% {
    transform: translate(-1000%, 700%) rotateY(0deg);
    z-index: 3;
  }

  60% {
    transform: translate(-570%, 1010%) rotateY(0deg);
  }

  100% {
    transform: translate(0%, 630%) rotateY(0deg);
  }
}

@keyframes back-run {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes make-transparent {
  0% {
    opacity: 100%;
  }
  59.9% {
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes make-visible {
  0% {
    opacity: 0%;
  }
  59.9% {
    opacity: 0%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    opacity: 100%;
  }
}
