/* секция 1 */
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  /* height: 100vh; */
  /* width: 150vh; */
}

#headline {
  display: grid;
  width: 100vw;
  z-index: -2;
  /* white-space: nowrap; */
  overflow: hidden;
  margin-top: -2%;
  margin-bottom: -15%;
}

#headline h1 {
  color: var(--text-color);
  font-weight: 900;
  font-size: 25vw;
  width: 100%;
  grid-area: 1/1;
}

#headline h1:nth-of-type(1) {
  position: relative;

  animation: headline-animation 12s linear infinite;
}

#headline h1:nth-of-type(2) {
  position: relative;

  animation: headline-animation 12s -6s linear infinite;
}

@keyframes headline-animation {
  0% {
    left: 115%;
  }

  100% {
    left: -100%;
  }
}

.green-panels {
  display: flex;
  gap: 37%;
  width: 100%;
  justify-content: center;
  z-index: -1;

  animation: up-and-down 3s linear alternate infinite;
}

.green-panels img {
  width: 19%;
}

.green-panels > :first-child {
  width: 19%;
}

#left-panel img {
  width: 100%;
}

#left-panel {
  position: relative;
}

#left-panel::after {
  content: "";
  background-image: url(../images/section-1/slides.svg);
  z-index: 10;
  position: absolute;
  width: 100%;
  aspect-ratio: 129/185;
  top: 0;
  left: 0;

  background-size: 100% auto;
  animation: slides 10s linear infinite;
}

@keyframes slides {
  0% {
    opacity: 0;
    background-position: 0 0;
  }
  5% {
    opacity: 1;
  }
  28% {
    opacity: 1;
  }
  33% {
    opacity: 0;
    background-position: 0 0;
  }
  33.1% {
    opacity: 0;
    background-position: 0 172%;
  }
  38% {
    opacity: 1;
  }
  61% {
    opacity: 1;
  }
  66% {
    opacity: 0;
    background-position: 0 172%;
  }
  66.1% {
    opacity: 0;
    background-position: 0 206%;
  }
  71% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    background-position: 0 206%;
  }
}

#big-beetle {
  width: 83%;
  margin-top: -20%;
  position: relative;
  /* margin-bottom: -33%; */
}

#big-beetle img {
  width: 100%;
}

#big-beetle #star-1 {
  background-image: url(../images/star.svg);
  width: 5%;
  aspect-ratio: 1 / 1;
  background-size: auto 100%;
  position: absolute;
  top: 26.7%;
  left: 60%;

  animation: star-animation 2.5s ease-in-out infinite;
}

#big-beetle #star-2 {
  background-image: url(../images/star.svg);
  width: 7%;
  aspect-ratio: 1 / 1;
  background-size: auto 100%;
  position: absolute;
  top: 7%;
  left: 37%;

  animation: star-animation 2.5s -0.5s ease-in-out infinite;
}

#big-beetle #star-3 {
  background-image: url(../images/star.svg);
  width: 5%;
  aspect-ratio: 1 / 1;
  background-size: auto 100%;
  position: absolute;
  top: 3%;
  left: 43%;

  animation: star-animation 2s -1s ease-in-out infinite;
}

@keyframes star-animation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}

#tools {
  display: flex;
  justify-content: space-between;
  width: 64%;
  margin-top: -32%;
  padding-bottom: 10%;
}

#tools img:nth-of-type(1) {
  width: 43%;
  animation: up-and-down 4s ease-in-out alternate infinite;
}

#tools img:nth-of-type(2) {
  width: 32%;
  animation: up-and-down 4s -1s ease-in-out alternate infinite;
}

@keyframes up-and-down {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(10%);
  }
}

/* бегущая строка "автосервис для жуков" */
.running-line {
  display: flex;
  padding-top: 4%;
  margin-bottom: -12%;
}

.left,
.right {
  width: 50vw;
  font-size: 9vw;
  font-weight: 800;
  overflow: hidden;
  color: var(--text-color);
  white-space: nowrap;
}

.left {
  transform-origin: right;
  transform: skewY(30deg);
}

.right {
  transform-origin: left;
  transform: skewY(-30deg);
}

.left span {
  position: relative;
  animation: running-line-left 7s linear infinite;
}

.right span {
  position: relative;
  animation: running-line-right 7s linear infinite;
}

@keyframes running-line-left {
  0% {
    margin-left: 200%;
  }

  100% {
    margin-left: -300%;
  }
}

@keyframes running-line-right {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -400%;
  }
}
