#section-6 {
  width: 90vw;
  /* height: 100vw; */
  position: relative;
  /* overflow: hidden; */

  margin-top: -35%;
}

#section-6 > :first-child {
  display: grid;
  align-items: start;
  justify-items: center;
}

#section-6 > :first-child > * {
  grid-area: 1 / 1;
}

#numbers-trophy-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* цифры */
#numbers-trophy-container img:nth-of-type(1) {
  width: 54%;
  padding-top: 10%;
}

/* кубок */
#numbers-trophy-container img:nth-of-type(2) {
  width: 40%;
  margin-left: -10%;
  flex-shrink: 0;
}

#fences {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 27%;
  z-index: -1;
  padding-top: 15%;
}

#fences img {
  width: 33%;
}
#fences img:nth-of-type(1) {
  width: 33%;
  padding-top: 7%;
}

#fences img:nth-of-type(2) {
  transform: rotateY(180deg);
}

/* плитка */
#section-6 > :first-child > img {
  width: 83%;
  padding-top: 36%;

  z-index: -2;
}

/* бегущая строка с именем */
.running-line-2 {
  display: flex;
  padding-top: 15%;
}

.left-2,
.right-2 {
  width: 50vw;
  font-size: 9vw;
  font-weight: 800;
  overflow: hidden;
  color: var(--text-color);
  white-space: nowrap;
}

.left-2 {
  transform-origin: right;
  transform: skewY(30deg);
}

.right-2 {
  transform-origin: left;
  transform: skewY(-30deg);
}

.left-2 span {
  position: relative;
  animation: running-line-left-2 12s linear infinite;
}

.right-2 span {
  position: relative;
  animation: running-line-right-2 12s linear infinite;
}

@keyframes running-line-left-2 {
  0% {
    margin-left: 200%;
  }

  100% {
    margin-left: -800%;
  }
}

@keyframes running-line-right-2 {
  0% {
    margin-left: 100%;
  }

  100% {
    margin-left: -900%;
  }
}
