/* секция 5 */
/* ФИНИШ */
#section-5 {
  width: 100vw;
  height: 90vw;
  position: relative;
  overflow: hidden;
  margin-top: -45%;
}

#road-tube-container {
  display: grid;
}

#road-tube-container img {
  grid-area: 1 / 1;
  width: 100%;
}

#road-tube-container img:nth-of-type(2) {
  z-index: 5;
}

#gate-2 {
  width: 12.5%;
  transform: rotateY(180deg);
  position: absolute;
  top: 47%;
  left: 37%;
  z-index: 20;
}

.finish {
  transform-origin: right;
  transform: rotate(-30deg) skewX(30deg);
  margin-left: -3%;
}

#section-5-text-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 52%;
  gap: 36%;
}

/* надпись ФИНИШ */
#section-5-text-container h2 {
  transform-origin: right;
  padding-top: 3%;
}

.blue-beetle-section-5 {
  width: 5%;
  z-index: 4;
  position: absolute;
  top: 34%;
  right: 10%;

  animation: movement-bb-5 30s linear infinite, run 0.2s steps(2) infinite;
}

.green-beetle-section-5 {
  width: 7.5%;
  z-index: 4;
  position: absolute;

  top: 32%;
  right: 10%;

  animation: movement-gb-5 30s linear infinite, run 0.2s steps(2) infinite;
}

.pink-beetle-section-5 {
  width: 5%;
  z-index: 4;
  position: absolute;

  top: 31%;
  right: 14%;

  animation: movement-pb-5 30s linear infinite, run 0.2s steps(2) infinite;
}

/* анимация перемещения СИНИЙ 5*/
@keyframes movement-bb-5 {
  76.5% {
    transform: translate(0, 0) rotateY(180deg);
  }

  90% {
    transform: translate(-1800%, 1060%) rotateY(180deg);
  }

  100% {
    transform: translate(-1800%, 1060%) rotateY(180deg);
  }
}

/* анимация перемещения ЗЕЛЁНЫЙ 5 */
@keyframes movement-gb-5 {
  76.5% {
    transform: translate(0, 0) rotateY(180deg);
  }

  100% {
    transform: translate(-1800%, 1680%) rotateY(180deg);
  }
}

/* анимация перемещения РОЗОВЫЙ 5*/
@keyframes movement-pb-5 {
  76.5% {
    transform: translate(0, 0) rotateY(180deg);
  }

  100% {
    transform: translate(-1800%, 1260%) rotateY(180deg);
  }
}

#two-flags {
  width: 13%;
  display: flex;
  align-items: flex-start;
  gap: 15%;

  position: absolute;
  bottom: 25%;
  right: 0%;
}

#two-flags .flag {
  width: 24%;
}

#two-flags div:nth-of-type(1) {
  margin-top: 21%;
}
